<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quick Pickup!</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Girassol&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='dash.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <css-doodle class="bg">
      :doodle { @grid: 7 / 100vmax; background: #0a0c27; @size: 100vw 100vh;}
      @shape: clover 5; background: hsla( calc(360 - @i * 4), 70%, 68%, @r.8 );
      transform: scale(@r(.2, 1.5)) translate(@m2.@r(±50%));
    </css-doodle>
    <div class="main-container">
      <h1>Store Order Command Center</h1>
      <div class="orders-container">
        <div class="order-list"></div>
        <div class="order-items">
          <div class="table-wrapper"></div>
          <div class="button-wrapper"></div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/css-doodle@0.17.3/css-doodle.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='dash.js') }}"></script>
  </body>
</html>
